{% extends "gallery/base.html" %}

{% block title %}Albums{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Albums</h1>
    <div class="row mt-4">
        {% for album in albums %}
        <div class="col-md-4 mb-4">
            <div class="album-container">
                <a href="{% url 'album_detail' album.id %}">
                    <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="img-fluid">
                    <p class="album-title">{{ album.title }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
