{% extends "gallery/base.html" %}

{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>{{ album.title }}</h1>
    <div class="row mt-4">
        {% for photo in album.photos.all %}
        <div class="col-md-4 mb-4">
            <div class="photo-container">
                <img src="{{ photo.url }}" alt="{{ photo.title }}" class="img-fluid clickable-photo" data-src="{{ photo.url }}">
                <p class="photo-title">{{ photo.title }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Fullscreen Image Container -->
<div class="fullscreen-image" id="fullscreenImageContainer">
    <img id="fullscreenImage" src="" alt="Full Size Image">
</div>
{% endblock %}
