{% extends "gallery/base.html" %}

{% block title %}Contact Information{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="page-title-container">
        <h1 class="page-title">Contact Information</h1>
        <p class="page-subtitle">Click to connect</p> <!-- Added subtitle, if applicable -->
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-md-2 mb-3">
            <a href="https://www.flickr.com/photos/199646771@N04/" class="btn social-button flickr btn-block" role="button" target="_blank" rel="noopener noreferrer">Flickr</a>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <a href="https://github.com/TrevorMumm" class="btn social-button github btn-block" role="button" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <a href="https://www.instagram.com/trevormumm/" class="btn social-button instagram btn-block" role="button" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <a href="https://www.linkedin.com/in/trevormumm/" class="btn social-button linkedin btn-block" role="button" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <a href="mailto:teerevv@gmail.com" class="btn social-button email btn-block" role="button">Email Me</a>
        </div>
    </div>
</div>

<style>
    .social-button {
        width: 100%;
        padding: 15px 0;
        border-radius: 5px;
        color: #ffffff;
        font-size: 1.5rem;
        border: none;
    }

    .flickr { background-color: #ff0084; }
    .github { background-color: #333333; }
    .instagram { background-color: #e1306c; }
    .linkedin { background-color: #0077b5; }
    .email { background-color: #0f9d58; }

    .flickr:hover, .github:hover, .instagram:hover, .linkedin:hover, .email:hover {
        opacity: 0.8;
    }

    @media (max-width: 767.98px) {
        .row .col-12 {
            margin-bottom: 10px;
        }
    }
</style>
{% endblock %}
