
{% extends "gallery/base.html" %}

{% block title %}Contact Information{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Contact Information</h1>
    <div class="row mt-4">
        <div class="col">
            <a href="https://www.flickr.com/photos/199646771@N04/" class="btn social-button flickr" role="button" target="_blank" rel="noopener noreferrer">Flickr</a>
        </div>
        <div class="col">
            <a href="https://github.com/TrevorMumm" class="btn social-button github" role="button" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/trevormumm/" class="btn social-button instagram" role="button" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/trevormumm/" class="btn social-button linkedin" role="button" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
        <div class="col">
            <a href="mailto:teerevv@gmail.com" class="btn social-button email" role="button">Email Me</a>
        </div>
    </div>
</div>
{% endblock %}
