<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label_tag }} {{ form.title }}

    <label for="id_images">Images:</label>
    <input type="file" name="images" id="id_images" multiple required>

    <h4>Select Existing Albums:</h4>
    {{ form.albums }}

    <h4>Or Create New Album:</h4>
    {{ form.new_album_title.label_tag }} {{ form.new_album_title }}

    <h4>Tags:</h4>
    {{ form.tags }}

    <button type="submit" class="btn btn-primary">Upload</button>
</form>
