{% extends "gallery/base.html" %}

{% block title %}Welcome to TDM Photography{% endblock %}

{% block content %}
<div class="welcome-container text-center">
    <picture>
        <source media="(max-width: 767.98px)" srcset="{{ settings.background_image_url }}">
        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ settings.background_image_url }}">
        <source media="(min-width: 992px)" srcset="{{ settings.background_image_url }}">
        <img src="{{ settings.background_image_url }}" alt="Welcome Image 1" class="welcome-image">
    </picture>
    <div class="welcome-content">
        <h1 class="site-title display-4">{{ settings.title }}</h1>
        <a class="btn btn-transparent mt-3" href="{% url 'album_list' %}">View Portfolio</a>
    </div>
</div>

{% if settings.background_image_2_url %}
<div class="welcome-container text-center">
    <picture>
        <source media="(max-width: 767.98px)" srcset="{{ settings.background_image_2_url }}">
        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ settings.background_image_2_url }}">
        <source media="(min-width: 992px)" srcset="{{ settings.background_image_2_url }}">
        <img src="{{ settings.background_image_2_url }}" alt="Welcome Image 2" class="welcome-image">
    </picture>
    <div class="welcome-content">
        <!-- Additional content for the second image -->
    </div>
</div>
{% endif %}

{% if settings.background_image_3_url %}
<div class="welcome-container text-center">
    <picture>
        <source media="(max-width: 767.98px)" srcset="{{ settings.background_image_3_url }}">
        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ settings.background_image_3_url }}">
        <source media="(min-width: 992px)" srcset="{{ settings.background_image_3_url }}">
        <img src="{{ settings.background_image_3_url }}" alt="Welcome Image 3" class="welcome-image">
    </picture>
    <div class="welcome-content">
        <!-- Additional content for the third image -->
    </div>
</div>
{% endif %}

{% if settings.background_image_4_url %}
<div class="welcome-container text-center">
    <picture>
        <source media="(max-width: 767.98px)" srcset="{{ settings.background_image_4_url }}">
        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ settings.background_image_4_url }}">
        <source media="(min-width: 992px)" srcset="{{ settings.background_image_4_url }}">
        <img src="{{ settings.background_image_4_url }}" alt="Welcome Image 4" class="welcome-image">
    </picture>
    <div class="welcome-content">
        <!-- Additional content for the fourth image -->
    </div>
</div>
{% endif %}
{% endblock %}

<style>
    .welcome-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .welcome-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the container without being cut off */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .welcome-content {
        z-index: 1;
        position: relative;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent background to the text for better visibility */
    }

    @media (max-width: 767.98px) {
        .welcome-container {
            height: 50vh;
        }

        .welcome-content h1 {
            font-size: 2.5rem;
        }

        .welcome-content .btn-transparent {
            font-size: 1rem;
            padding: 5px 10px;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .welcome-container {
            height: 60vh;
        }

        .welcome-content h1 {
            font-size: 3.5rem;
        }

        .welcome-content .btn-transparent {
            font-size: 1.25rem;
            padding: 7px 15px;
        }
    }

    @media (min-width: 992px) {
        .welcome-container {
            height: 80vh;
        }

        .welcome-content h1 {
            font-size: 4rem;
        }

        .welcome-content .btn-transparent {
            font-size: 1.5rem;
            padding: 10px 20px;
        }
    }
</style>
