{% extends "gallery/base.html" %}

{% block title %}Welcome to TDM Photography{% endblock %}

{% block content %}
<div class="welcome-container bg-image-1 text-center" style="background-image: url('{{ settings.background_image_url }}');">
    <div class="welcome-content">
        <h1 class="site-title display-4">TDM Photography</h1>
        <a class="btn btn-transparent mt-3" href="{% url 'album_list' %}">View Portfolio</a>
    </div>
</div>
{% if settings.background_image_2_url %}
<div class="welcome-container bg-image-2 text-center" style="background-image: url('{{ settings.background_image_2_url }}');">
    <div class="welcome-content">
    </div>
</div>
{% endif %}
{% if settings.background_image_3_url %}
<div class="welcome-container bg-image-3 text-center" style="background-image: url('{{ settings.background_image_3_url }}');">
    <div class="welcome-content">
    </div>
</div>
{% endif %}
{% if settings.background_image_4_url %}
<div class="welcome-container bg-image-4 text-center" style="background-image: url('{{ settings.background_image_4_url }}');">
    <div class="welcome-content">
    </div>
</div>
{% endif %}
{% endblock %}
